<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
  <a href='/'>Root</a> | <a href='/site'>Home</a> | <a href='/site/about'>About</a>
  <%- body -%>
</body>
</html>